.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  background: linear-gradient(90deg, #051937, #004d9b);
  color: #f1faee;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #a8dadc;
  color: #051937;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.hero-button:hover {
  background-color: #457b9d;
  color: #f1faee;
}
